<p>edit-vision works!</p>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>UPDATE</h3>

        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">

                    <label for="">CONTENIDO:</label>
                    <input [(ngModel)]="vision.contenido" name="contenido" type="text" class="form-control">

                </div>


                <button (click)="Actualizar(vision)" class="btn btn-warning">Actualizar</button>
            </form>

        </div>
    </div>




</div>